{% extends "layout.html" %}
{% block body %}
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                    <h1>{{ heading }}</h1>
					<form method="POST" enctype="multipart/form-data" class="menu-form"><!-- action="{% comment %}{% url 'menu:edit_menu' pk=menu.pk %}{% endcomment %}"  -->
						{% csrf_token %}
						{{ form.as_p }}
                        <button type="submit" class="save btn btn-default">Save</button>
                    </form>
                </div>
            </div>
        </div>
{% endblock %}