{% extends "layout.html" %}

{% block body %}
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
					<h2>List of Items</h2>
					{% comment %}{% abc_list %}{% endcomment %}
					<h5>Number of items: {{ items|length }}</h5>
					{% for item in items %}
						<div>
							<h3><a href="{% url 'menu:item_detail' pk=item.pk %}">{{ item.name|truncatewords:5 }}</a></h3>
							<p>{{ item.description|linebreaks|truncatewords:10 }}</p>
							<p>published: {{ item.created_date }}</p>
						</div>
						<hr>
					{% endfor %}
				</div>
            </div>
        </div>
{% endblock %}