<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Soda Fountain{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
		<!-- Bootstrap in use.  No reason for custom stylesheet. -->
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    </head>
    <body style="background-color:#acd0cf;">
		<header class="navbar" style="background-color: #acd0cf;">
			<div class="page-header">
				{% if user.is_authenticated %}
					<a href="{% url 'menu:menu_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
				{% endif %}
				<h1 class="nav-tabs"><a href="{% url 'menu:menu_list' %}">Soda Fountain</a></h1>
				<h1 class="nav-tabs"><a href="{% url 'menu:item_list' %}">Items</a></h1>
			</div>
		</header>
		<div>{% block body %}{% endblock %}</div>
    </body>
</html>